body {
  background-color: #121212;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  margin-top: 80px;
  color: white;
  transition: background-color 0.4s ease, color 0.4s ease;
}

.container {
  position: relative;
  background: #1e1e1e;
  padding: 30px;
  border-radius: 12px;
  width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  transition: background-color 0.4s ease;
}

.task-container {
  flex: 1;
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.task-text {
  word-break: break-word;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

.input-area {
  display: flex;
  gap: 10px;
}

input {
  flex: 1;
  padding: 10px;
  border-radius: 8px;
  border: none;
  outline: none;
  font-size: 14px;
}

#addButton {
  padding: 10px 15px;
  border: none;
  border-radius: 8px;
  background: #4CAF50;
  color: white;
  cursor: pointer;
  transition: 0.3s;
}

#addButton:hover {
  background: #45a049;
}

ul {
  list-style: none;
  padding: 0;
  margin-top: 20px;
}

li {
  background: #2a2a2a;
  padding: 10px 15px;
  margin-bottom: 10px;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background-color 0.4s ease;
}

.task-text {
  flex: 1;
  cursor: pointer;
  word-break: break-word;
}

li button {
  background: #ff4d4d;
  border: none;
  padding: 6px 10px;
  border-radius: 6px;
  align-items: flex-start;
  color: white;
  cursor: pointer;
  transition: 0.3s;
  flex-shrink: 0;
}

li button:hover {
  background: #e60000;
}

li {
  transition: all 0.3s ease;
}

li.concluida-item {
  background-color: #2f3d2b;
}

body.light li.concluida-item {
  background-color: #d1e7dd; /* verde bem claro */
}

li.concluida-item .check-icon {
  opacity: 1;
}

/* Botão de tema */
.theme-btn {
  position: absolute;
  top: 15px;
  right: 15px;
  background: #333;
  border: none;
  color: white;
  padding: 8px 12px;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s;
}

.theme-btn:hover {
  background: #555;
}

.concluida {
  text-decoration: line-through;
  opacity: 0.6;
}

.check-icon {
  margin-left: 10px;
  color: #4CAF50;
  font-weight: bold;
  opacity: 0;
  transition: opacity 0.3s ease;
}

/* 🌞 Tema Light */
body.light {
  background-color: #f4f4f4;
  color: black;
}

body.light .container {
  background: white;
}

body.light li {
  background: #eaeaea;
}

body.light #addButton {
  background: #007bff;
}

body.light #addButton:hover {
  background: #0056b3;
}

body.light li button {
  background: #dc3545;
}

body.light li button:hover {
  background: #b02a37;
}
